<div class="content_tickets">
  <div class="search">
    <input type="text"  [(ngModel)]="searchName" placeholder="Поиск по названию...">
  </div>
</div>

<div class="content_tickets">
  <div class="item-tickets" *ngFor="let item of items | search:searchName; let i = index" (click)="openTicket($event)">
    <a routerLink="/ticket/{{item.id}}" href="" class="href_ticket">
      <div class="block">
        <img src="{{item.image}}" alt="">
        <div class="tth">
          <h4>{{item.name}}</h4>
          <p>Количество: {{item.quantity}}</p>
        </div>
      </div>
      <p class="clip">{{item.description}}</p>
      <span class="price">{{item.price | currency: 'USD'}}</span>
    </a>
  </div>
</div>



<!-- [(ng-model)]="searchName" -->