.content_tickets {
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  width: 1050px;
}

img {
  max-width: 130px;
  max-height: 130px;
  object-fit: cover;
}

.item-tickets a {
  color: rgb(0, 0, 0);
  transition-duration: 0.3s;
  position: relative;
}

.item-tickets {
  width: 485px;
  background-color: rgb(55, 40, 59);
  padding: 0px;
  border-radius: 7px;
  margin-bottom: 25px;
  transition-duration: 0.3s;
}

.item-tickets:hover {
  transform: scale(1.06);
}

.block {
  display: flex;
}

.clip {
  white-space: nowrap;
  overflow: hidden;
  padding: 20px 30px 0 0;
  text-overflow: ellipsis;
  margin-left: 25px;
 }

 .item-tickets h4 {
  font-weight: 600;
  font-family: arial;
  text-transform: uppercase;
  color: rgb(228, 228, 228);
}

.item-tickets p {
  color: rgb(255, 255, 255);
}

.tth {
  width: 220px;
  padding: 20px 30px 0 20px
}

.price {
  position: absolute;
  right: -228px;
  top: -155px;
  color: rgb(232, 187, 55);
  font-family: arial;
  font-weight: 600;
  font-size: 23px;
}

.search input {
  padding-left: 10px;
  margin: 0 0 27px 0;
}


@media screen and (max-width: 1060px) {
  .content_tickets {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .item-tickets {
    width: 100%;
    padding-bottom: 10px;
  }
  .price {
    position: relative;
    right: 0;
    top: 0;
}
.block {
  display: block;
}
img {
  max-width: 100%;
  max-height: 130px;
  object-fit: cover;
  width: 100%;
}
.tth {
  width: 100%;
}
.clip {
  padding: 15px;
}
}