.content_tickets {
  margin: 0 auto;
  text-align: center;
}

nav {
  text-align: center;
  padding: 40px;
}

nav a {
  margin-left: 20px;
  margin-right: 20px;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  font-weight: 600;
  font-family: arial;
  font-size: 18px;
  transition-duration: 0.1s;
}
nav a:hover {
  border-bottom: 2px solid;
}

@media screen and (max-width: 400px) {
  nav {
    padding: 20px;
  }
}