<section class="section">
  <div class="container-fluid">


    <div class="content">
      <nav>
        <a routerLink="" href="">Главная</a>
        <a routerLink="/tickets" href="">Билеты</a>
      </nav>
    </div>


  </div>
</section>



<section class="section_tickets">
  <div class="container-fluid">
    <router-outlet></router-outlet>
  </div>
</section>
