.content_in_ticket {
  width: 900px;
  margin: 0 auto;
}

img {
  width: 450px;
  border-radius: 5px;
}

h4 {
  font-family: arial;
  font-weight: 600;
  text-transform: uppercase;
  padding-top: 30px;
}

.item-tickets {
  padding-bottom: 40px;
}


@media screen and (max-width: 1000px) {
  .content_in_ticket {
    width: 100%;
  }
}

@media screen and (max-width: 1000px) {
  .content_in_ticket {
    width: 100%;
  }
  img {
    width: 100%;
}
}