
        <div class="content_in_ticket">
          <div class="item-tickets">
              <div class="block">
                <img src="{{item.image}}" alt="">
                <h4>{{item.name}}</h4>
                <p><strong>Количество</strong>: {{item.quantity}}</p>
              </div>
              <p><strong>Описание</strong>:{{item.description}}</p>
              <span><strong>Стоимость билета</strong>: {{item.price | currency: 'USD'}}</span>
            </div>
        </div>

  
